__pycache__/
*.pyc
.env
/bot
/venv
.env
.pytest_cache
/utils/users.db
/utils/__pycache__
/config/__pycache__
/handlers/__pycache__
/keyboards/__pycache__
/msg/__pycache__
/reports
/content_for_test
/photos
test.py